[submodule ".registry"]
	path = .registry
	url = https://github.com/susanbuck/susanbuck.r-universe.dev
	branch = HEAD
[submodule "codepsych"]
	path = codepsych
	url = https://github.com/susanBuck/codepsych
